html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 95%;
}
#info {
    position: absolute;
    font-size: 1.5em;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 4px;
    border-width: 1px;
}
.button {
    position: absolute;
    bottom: 70px;
    left: 10px;
}
#reZoom {
    position: absolute;
    top: 33px;
    left: 50px;
}
#marker {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
}
#findings {
  width: 5px;
  height: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #000;
  opacity: 1
}
td {
    padding:0 0 0 10px;
}

.report_map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60%;
}