<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('visualize.static', filename='favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
  </head>
  <body>
    {% block navigation %}{% endblock %}
    {% block body %}{% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>
                                                  