{% extends "base.html" %}


{% block title %}Intelligent excavatioin.{% endblock %}


{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('visualize.static', filename='css/visual.css') }}"></link>
{% endblock %}


{% block body %}
    <div>
      <table>
        <tr>
          <th>Operative</th>
          <th>Observer</th>
          <th>Objective</th>
          <th>Data types</th>
          <th>Activity</th>
          <th>MVP response</th>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.h1') }}>H1</a></td>
          <td></td>
          <td>Safety.<br/>(a) Emergency stop when an excavator RFID sensor detects an RFID tag</td>
          <td>RFID</td>
          <td>Excavator detext an RFID tag within a range of its RFID sensor.</td>
          <td>Emergency stop. <br/><br/> MVP record created of emergency stop, GPS data, date/time stamp.</td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.h2') }}>H2</a></td>
          <td></td>
          <td>Safety.<br/>(b) Emergency stop when the excavator is within a predetermined range/exclusion zone of an overhead cable.</td>
          <td>Pre-existing statutory records of overhead cable. <br/><br/>Real-time data of the geolocation and orientation.</td>
          <td>Operative positions the excavator within the exclusion zone of the overhead cable. <br/><br/>The excavator is likely to be mispositioned but within the uncertainty of the statutory record data.</td>
          <td>Emergency stop.<br/><br/>MVP record created of emergency stop, GPS data, date/time stamp.</td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.e1') }}>E1</a></td>
          <td></td>
          <td>Excavator positioning.<br/>(a) Locate the excavator directly over the buried utility (for the purposes of replacing the buried asset)</td>
          <td>Pre-existing statutory records of buried cable<br/><br/>Real-time data on the geolocation and orientation</td>
          <td>Operative positions the excavator directly over buried cable using 2D visualization and zoom in.<br/><br/>The excavator is likely to be mis- positioned but within the uncertainty of the statutory record data.</td>
          <td>Static statutory record layer is displayed with dynamic GPS data layer. <br/><br/>GI used to draw the map is recorded whenever the 2D visualization changes.<br/><br/>Web-browser on a tablet pulls the map (JavaScript scripts 6 of 11 and GI) from the server and accessible via operative and observer tablets.</td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.e2') }}>E2</a></td>
          <td></td>
          <td>Excavator positioning.<br/>(b) Locate the excavator perpendicular to a buried utility</td>
          <td>Pre-scan data from geo- physicists who have performed scans using GPR, and CAT and Genny <br/><br/>Real-time data on the geolocation and orientation</td>
          <td>Operative positions the excavator perpendicular to the buried cable using 2D visualization and zoom in.<br/><br/>The actual location of the buried assets to be painted on the ground. The excavator is likely to be positioned accurately within the limits of GPS accuracy and pre- scan accuracy</td>
          <td>Data from CAD converted into static GI layer is displayed with dynamic GPS data layer, by detecting GPR at location to GI point (some utility at this particular location). <br/><br/>GI used to draw the map is recorded whenever the 2D visualization changes. <br/><br/>Web-browser on a tablet pulls the map (JavaScript scripts and GI) from the server and accessible via operative and observer tablets.</td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.e3') }}>E3</a></td>
          <td></td>
          <td>Excavator positioning.<br/>(c) Locate the excavator parallel to the buried utility.</td>
          <td>Real-time buried utility asset data from GPR and CAT. <br/><br/>Real-time data on the geolocation and orientation.</td>
          <td>Operative positions the excavator parallel to the buried cable using 2D visualization and zoom in.<br/><br/>The excavator is likely to be positioned accurately depending on the quality of GPR and CAT data.</td>
          <td>Data from GPR is interpreted to locate buried asset; an interactive fusing of GI points into a utility (connect the dots). Uncertainty zone for utility is calculated by fusing potential inaccuracies of GPR position, GPR detection, excavator position.<br/><br/>GI used to draw the map is recorded whenever the 2D visualization changes.<br/><br/>Web-browser on a tablet (in the cab or with the observer) pulls the map (JavaScript scripts and GI) from the server</td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.p1') }}>P1</a></td>
          <td></td>
          <td>Performance.<br/>(a) Accident investigation</td>
          <td>MVP created data</td>
          <td>View records of 2D visualiztions<br/><br/>View records of emergency stops</td>
          <td>Present data store</td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.p2') }}>P2</a></td>
          <td></td>
          <td>Performance.<br/>(b) Operations</td>
          <td>MVP created</td>
          <td>MVP records of MVP operation (start/stop times)<br/><br/>View records of emergency stops</td>
          <td>Present data store</td>
        </tr>
      </table>

    </div>

    <div><a href={{ url_for('visualize.info') }}>info page</a></div>
{% endblock %}


{% block js %}
    <script src="{{ url_for('visualize.static', filename='js/index.js') }}" type="text/javascript"></script>
{% endblock %}
