{% extends "base.html" %}


{% block title %}Intelligent excavatioin.{% endblock %}


{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('visualize.static', filename='css/visual.css') }}"></link>
{% endblock %}


{% block body %}
    <div>
      <table>
        <col width="2%">
        <col width="4%">
        <col width="4%">
        <col width="20%">
        <col width="35%">
        <col width="35%">
        <tr>
          <th>Operative</th>
          <th>Observer</th>
          <th>Objective</th>
          <th>How it works now</th>
          <th>Microservices</th>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.h1') }}>H1</a></td>
          <td></td>
          <td>Safety.<br/>(a) Emergency stop when an excavator RFID sensor detects an RFID tag.</td>
          <td>TO DESCRIBE</td>
          <td rowspan="7">
            <ul>
              <li>
                [visual] microservice is designed for people. It is a web-application where major pages are associated with each demonstration scenario. A scenario page (e.g. <a href={{ url_for('visualize.e1') }}>E1</a>) pulls and pushed data from and to other microservices.<br/>
                A scenario page has back-end (executed on server computer) and front-end components (executed on client computer, e.g. a tablet). The back-end component is powered by Flask web microframework with the major purpose to initialize a scenario pages and feed it static GI layers. The fron-end component is mostly JavaScript scripts drawing maps, calculating distances and angles, and pushing and pulling dynamic geographic information.
              </li>
              <li>
                [geonode] 'microservice' is a geographic content management system  in this project used as a storage of geographic information. All the layers are stored in <a href="https://epsg.io/27700">EPSG:27700</a> projected coordinate system designed for the UK. It is a meteric format with meter-based XY coordinates. Each functional piece of GI is expected to have 'accuracy' attribute, e.g. according to standard, a utility has a safety diggin zone of 0.5 meters. 
              </li>
              <li>
                [position] microservice is designed to provide position and orientation of the excavator at the given time. At the moment it provides synthetic coordinates of an excavator moving circles with the velocity of 7 km/h or 1.94 m/s so it would take 2 minutes to move the full circle (radies here is ~37 meters). The position is requested by [visual], thus the lengths of each step depends on the time difference between the 'steps', and 1 cm movement is associated with 19 milliseconds. All these calculations in Flask-powered back-end.
              </li>
              <li>
                [udetect] microservice is designed to emulate GPR action and currently runs on synthetic data. No GPR raw data is processed now, [udetect] uses EPSG:27700 GI: a utility from [geonode], which is represented with a LineString GI element; and position from [position], which is represented with a Point GI element. Both of the utility and position have 'accuracy' values defined, which is used to create a positional uncertainty buffer around GI element. The detection event happens if these two buffers intersect with each other, and a detection with combined uncertainty is generated and pushed to [geonode]. With an excavator moving in steps, it may 'step-over' the line with no detection if the step is too big, or initialise multiple detection events if the steps are two small.
              </li>
              <li>[people]. Tet to start functional development, the boilerplate is done.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.h2') }}>H2</a></td>
          <td></td>
          <td>Safety.<br/>(a) Locate the excavator directly over the buried utility (for the purposes of replacing the buried asset)</td>
          <td>DOING</td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.e1') }}>E1</a></td>
          <td></td>
          <td>Excavator positioning.<br/>(a) Locate the excavator directly over the buried utility (for the purposes of replacing the buried asset for an emergency repair)</td>
          <td>TO DESCRIBE</td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.e2') }}>E2</a></td>
          <td></td>
          <td>Excavator positioning.<br/>(b) Locate the excavator perpendicular to a buried utility (for the purposes of putting in a new junction as part of new infrastructure).</td>
          <td>TO DESCRIBE</td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.e3') }}>E3</a></td>
          <td></td>
          <td>Excavator positioning.<br/>(c) Locate the excavator parallel to the buried utility for the purposes of digging a nearby trench as part of planned maintenance.</td>
          <td>
            <p>Four microservices are involved in this scenario, working on synthetic data without actual GPS and GPR sensors:</p>
            <ul>
              <li>[visualise] pulls static GI layers from [geonode], in this case, a border line of construction area, a layer on GPR detections (empty from the start, and a layer for to-be-detected utility, the latter purely for visualization purposes.</li>
              <li>[visualise] pulls the current excavator position from [position] and pushes it to [udetect]</li>
              <li>[udetect] pulls GI layers for the corresponsing utility from [geonode] and if the position and utility are close, it pushed the detection to the GPR layer in [geonode]</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.p1') }}>P1</a></td>
          <td></td>
          <td>Performance.<br/>(a) Accident investigation</td>
          <td>TODO</td>
        </tr>
        <tr>
          <td><a href={{ url_for('visualize.p2') }}>P2</a></td>
          <td></td>
          <td>Performance.<br/>(b) Operations</td>
          <td>TODO</td>
        </tr>
      </table>

    </div>

    <div><a href={{ url_for('visualize.index') }}>home page</a></div>
{% endblock %}


{% block js %}
    <script src="{{ url_for('visualize.static', filename='js/index.js') }}" type="text/javascript"></script>
{% endblock %}
