<div>
    <table>
        <tr>
            <td><a href={{ url_for('visualize.index') }}>Home</a></td>
            <td><a href={{ url_for('visualize.h1') }}>H1</a></td>
            <td><a href={{ url_for('visualize.h2') }}>H2</a></td>
            <td><a href={{ url_for('visualize.e1') }}>E1</a></td>
            <td><a href={{ url_for('visualize.e2') }}>E2</a></td>
            <td><a href={{ url_for('visualize.e3') }}>E3</a></td>
            <td><a href={{ url_for('visualize.p1') }}>P1</a></td>
            <td><a href={{ url_for('visualize.p2') }}>P2</a></td>
            <td><a href={{ url_for('visualize.info') }}>info</a></td>
        </tr>
    </table>
</div>