{% extends "base.html" %}
{% block meta %}
{% endblock %}


{% block title %}P2{% endblock %}


{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('visualize.static', filename='css/visual.css') }}"></link>


  <style>

  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: brown;
  }

  .axis--x path {
    display: none;
  }

  </style>
{% endblock %}


{% block navigation %}{% include "nav_operative.html"%}{% endblock %}
{% block body %}

  <ul>
    {% for it in stops %}
      <li>The excavator was stoped in XY coordinates {{ it.position.geometry.coordinates }} at time {{ it.timevalue|dtfilter }}.</li>
    {% endfor %}
  </ul>

  <h3>Distance at veolocity</h3>
  <svg id="chart_dv" width="900" height="450"></svg>

  <h3>Time at velocity</h3>
  {{ tv_zeros[0][1]|round(0) }} seconds were spend at {{ tv_zeros[0][0] }} velocity, while {{ tv_zeros[1][1]|round(0) }} seconds were spend at velocity {{ tv_zeros[1][0] }}.
  <svg id="chart_tv" width="900" height="450"></svg>

{% endblock %}
{% block js %}
  <script language="JavaScript" src="{{ url_for('visualize.static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
  <script language="JavaScript" src="{{ url_for('visualize.static', filename='js/d3.v4.min.js') }}" type="text/javascript"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script>
    var svg = d3.select("#chart_dv"),
        margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = +svg.attr("width") - margin.left - margin.right,
        height = +svg.attr("height") - margin.top - margin.bottom;

    var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
        y = d3.scaleLinear().rangeRound([height, 0]);

    var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    dv_dt = {{ dv_list|safe }};
    data = [];

    for ( var i = 0; i < dv_dt.length; i++ ) {
      data.push({ velocity: dv_dt[i][1], distance: dv_dt[i][0]});
    }

    x.domain(data.map(function(d) { return d.velocity; }));
    y.domain([0, d3.max(data, function(d) { return d.distance; })]);

  g.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  g.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(y).ticks(10))
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Distance");

  g.selectAll(".bar")
    .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.velocity); })
      .attr("y", function(d) { return y(d.distance); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d.distance); });

  </script>

  <script>
    var svg = d3.select("#chart_tv"),
        margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = +svg.attr("width") - margin.left - margin.right,
        height = +svg.attr("height") - margin.top - margin.bottom;

    var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
        y = d3.scaleLinear().rangeRound([height, 0]);

    var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    tv_dt = {{ tv_list|safe }};
    data = [];
    // dv_data = [['velocity', 'distance']];

    for ( var i = 0; i < tv_dt.length; i++ ) {
      data.push({ velocity: tv_dt[i][1], time: tv_dt[i][0]});
    }

    x.domain(data.map(function(d) { return d.velocity; }));
    y.domain([0, d3.max(data, function(d) { return d.time; })]);

  g.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  g.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(y).ticks(10))
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Time");

  g.selectAll(".bar")
    .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.velocity); })
      .attr("y", function(d) { return y(d.time); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d.time); });

  </script>
{% endblock %}