{% extends "base.html" %}
{% block meta %}
  <meta id="utility_json" data-name="{{ utility_json }}">
  <meta id="area_json" data-name="{{ area_json }}">
{% endblock %}


{% block title %}P1{% endblock %}


{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('visualize.static', filename='ol_v4_6_4/css/ol.css') }}"></link>
  <link rel="stylesheet" type="text/css" href="{{ url_for('visualize.static', filename='css/visual.css') }}"></link>
{% endblock %}


{% block navigation %}{% include "nav_operative.html"%}{% endblock %}
{% block body %}
  <div id="map" class="map"></div>
  <div id="info"></div>
  <div id="marker" title="Marker"></div>
  <div><button id="reZoom">reZoom</button></div>
  <audio id="audioSignal">
    <source src="{{ url_for('visualize.static', filename='media/horse.ogg') }}" type="audio/ogg">
    Your browser does not support the audio element.
  </audio>
  <img id="man_on_site" src="{{ url_for('visualize.static', filename='media/contacts.png') }}" style="display: none;" />
{% endblock %}
{% block js %}
  <script>
    var synstep = {{ SYNTHETIC_STEP }};
  </script>
  <script language="JavaScript" src="{{ url_for('visualize.static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('visualize.static', filename='ol_v4_6_4/build/ol-debug.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('visualize.static', filename='js/polyfill.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('visualize.static', filename='js/jsts.min.js') }}" type="text/javascript"></script> 
  <script src="{{ url_for('visualize.static', filename='js/latlon-spherical.js') }}" type="text/javascript"></script> 
  <script src="{{ url_for('visualize.static', filename='js/dms.js') }}" type="text/javascript"></script> 
  <script src="{{ url_for('visualize.static', filename='js/common.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('visualize.static', filename='js/oper_p1.js') }}" type="text/javascript"></script>
{% endblock %}  